<div role="main" class="tw-bg-white">
  <div class="container">
    <div class="row row1">
      <div class="col-md-12 col1">
        {% snippet 'home/snippets/hero.html', tags=h.get_facet_items_dict('tags', c.search_facets, limit=3) %}
      </div>
    </div>
  </div>
</div>

<div role="statistic" class="bg-img-02 tw-bg-background-03">
  <div class="container">
    <div class="row row1">
      <div class="col-md-12 col1">
        {% snippet 'home/snippets/custom.stats.html' %}
      </div>
    </div>
  </div>
    <div class="tw-bg-primary-color tw-min-h-96 tw-mt-[-130px] tw-w-full">
      &nbsp;
    </div>
</div>


{#
<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="col-md-6 col1">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
      </div>
      <div class="col-md-6 col2">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
#}

{#
<div role="main">
  <div class="container">
    <div class="row row2">
      <div class="col-md-6 col2">
        {% block featured_organization %}
          {% snippet 'home/snippets/featured_organization.html' %}
        {% endblock %}
      </div>
      <div class="col-md-6 col1">
        {% block featured_group %}
          {% snippet 'home/snippets/featured_group.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
#}

{% snippet 'home/snippets/section__latest_datasets.html' %}

<div role="main">
  <div class="container split-section">
    <div class="row tw-mb-14">
      <div class="col-md-12 col2">
        {% block publikasi_section_count %}
          <h3 class="h1 tw-text-center tw-text-primary-color tw-font-poppins">Publikasi Terbaru</h3>
          <div class="row">
            <div class="tw-m-auto tw-max-w-24 tw-border-0 tw-border-t-8 tw-border-solid tw-border-primary-color  mb-4">&nbsp;</div>
            <!-- <div class="title-divider"></div> -->
          </div>
        {% endblock %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col1 tw-mb-14">
        {% block publikasi_latest %}
          {% snippet 'home/snippets/publikasi_latest.html', data=h.get_latest_publikasi(5) %}
        {% endblock %}
      </div>
    </div>
    <div class="row tw-mt-8 tw-mb-24">
      <div class="col-md-12 text-center">
        <a class="btn btn-styled1" href="{{ h.url_for('publikasi.index')}}">
          Lihat Selengkapnya ➜
        </a>
      </div>
    </div>
  </div>
</div>

{% set bg_img_url = h.url_for_static('background-02.jpg', _external=True) %}
<div role="main" class="bg-img-04 tw-min-h-96" style="background-image: url('{{bg_img_url}}');">
&nbsp;
</div>

{#
<div class="hero">
      {% snippet 'home/snippets/test-perspective.html' %}
  </div>
</div>
#}
