{#
    publikasi card item 

#}

{% block publikasi_card_list %}
    <div class="cs-publ-card">
        {%- set cover_img_src -%}
            {% if publikasi.cover_image %}
                {{- '/uploads/'+ publikasi.cover_image -}}
            {% else %}
                {{- '/images/placeholder_publikasi_file.jpg' -}}
            {% endif %}
        {%- endset -%}
        <img src="{{ cover_img_src }}" alt="" class="cs-publ-card-img">
        <div class="cs-publ-card-content">
            <h4>{{ publikasi.title }}</h4>
            <span class="tw-absolute tw-bottom-0 tw-mb-[-10px] absolute-x-center">
                <i class="glyphicon glyphicon-chevron-right tw-p-4 tw-rounded-full tw-bg-yellow-500 tw-text-white tw-text-center"></i>
                <!-- <i class="fa-solid fa-book-open-reader tw-p-4 tw-rounded-full tw-bg-yellow-500 tw-text-white tw-text-center"></i> -->
                <!-- <i class="fa-solid fa-square-arrow-up-right tw-p-4 tw-rounded-full tw-bg-yellow-500 tw-text-white tw-text-center"></i> -->
                <!-- <i class="fa-solid fa-book-open tw-p-4 tw-rounded-full tw-bg-yellow-500 tw-text-white tw-text-center"></i> -->
            </span>
        </div>

        <a href="{{ h.url_for('publikasi.get', id=publikasi.id)}}" class="cs-publ-card-link"></a>
    </div>
    
{% endblock %}