<!-- FOOTER -->

<div class="tw-bg-accent-02 tw-text-slate-100 tw-mt-5">
  <div class="tw-container tw-m-auto tw-py-5 tw-grid tw-grid-cols-12 tw-gap-2 tw-min-h-64">
    <div class="tw-col-span-6">
      <h4 class="tw-font-bold tw-text-3xl">
        Pemerintah Kota Bima <br />
        Dinas Komunikasi, Informatika dan Statistik <br />
      </h4>
      <div class="tw-flex tw-flex-col tw-gap-1">
        <p>Jl. Gajah Mada No. 90 Penatoi - Kota Bima</p>
        <p>Email : aaasfsdfsdfaaf dfasf adf</p>
        <p>Link Upload Data</p>
        <p>Statistik Pengunjung ()</p>
      </div>
      
    </div>
    <div class="tw-col-span-3">
      <p class="tw-font-bold tw-mb-4">Link Terkait</p>
      <div class="tw-flex tw-flex-col tw-gap-1">
        <a href="https://bimakota.go.id/" target="_hidden">Website resmi Pemerintah Kota Bima</a>
        <a href="https://bappeda.bimakota.go.id/" target="_hidden">Bappeda Kota Bima</a>
        <a href="https://data.ntbprov.go.id/" target="_hidden">Satu Data Provinsi NTB</a>
        <a href="https://bimakota.bps.go.id/id" target="_hidden">Badan Pusat Statistik (BPS) Kota Bima</a>
        <a href="https://indah.bps.go.id/" target="_hidden">Indonesia Data Hub (Indah)</a>
        <a href="https://romantik.web.bps.go.id/" target="_hidden">Romantik</a>
      </div>
    </div>
    <div class="tw-col-span-3">
      <p class="tw-font-bold tw-mb-4">Sosial Media</p>
      <div class="tw-flex tw-flex-col tw-gap-1">
        <a href="https://www.facebook.com/diskominfotikkotabima/">
          <i class="fa-brands fa-facebook"></i> Diskominfotik Kota Bima
        </a>
        <a href="https://www.instagram.com/diskominfotikkotabima/">
          <i class="fa-brands fa-instagram"></i> diskominfotikkotabima 
        </a>

      </div>

    </div>

  </div>

  <div class="bg-[#122435] mx-auto p-3">
    <p class="font-bold text-center">2024 &copy; Dinas Komunikasi, Informatika dan Statistik</p>
  </div>

</div>

<!-- END FOOTER -->