<!-- FOOTER -->

<footer class="site-footer tw-p-0">

  <div class="tw-bg-accent-02 tw-text-slate-100">

    {% block footer_grid_container %}
    <div class="tw-container tw-m-auto tw-w-10/12 tw-py-9 
      tw-grid tw-grid-cols-12 tw-grid-rows-[auto_auto] 
      tw-gap-2 tw-gap-y-6 tw-min-h-64">

      {% block footer_section_1 %}
      <div class="tw-col-start-1 tw-col-end-7 tw-self-end">
        <h4 class="tw-font-bold tw-text-5xl">
          Pemerintah Kota Bima <br />
        </h4>
        <h4 class="tw-font-bold tw-text-3xl">
          <a href="https://kominfotik.bimakota.go.id/" target="_blank">
            Dinas Komunikasi, Informatika dan Statistik
          </a>
        </h4>
      </div>
      <div class="tw-col-start-1 tw-row-start-2 tw-col-span-6">
        <div class="tw-flex tw-flex-col tw-gap-0">
          <p>Jl. Gajah Mada No. 90 Penatoi - Kota Bima</p>
          <!-- <p>Email : aaasfsdfsdfaaf dfasf adf</p> -->
          <!-- <p>Link Upload Data</p> -->
          <!-- <p>Statistik Pengunjung ()</p> -->
        </div>
      </div>
      {% endblock %}

      {% block footer_section_2 %}
      <div class="tw-col-start-7 tw-col-span-3 tw-self-end">
        <p class="tw-font-bold tw-text-3xl tw-mb-4">Link Terkait</p>
      </div>
      <div class="tw-col-start-7 tw-row-start-2 tw-col-span-3">
        <div class="tw-flex tw-flex-col tw-gap-1 ">
          <a href="https://bimakota.go.id/" target="_hidden">Website resmi Pemerintah Kota Bima</a>
          <a href="https://bappeda.bimakota.go.id/" target="_hidden" >Bappeda Kota Bima</a>
          <a href="https://data.ntbprov.go.id/" target="_hidden">Satu Data Provinsi NTB</a>
          <a href="https://data.go.id/" target="_hidden">Satu Data Indonesia</a>
          <a href="https://bimakota.bps.go.id/id" target="_hidden">Badan Pusat Statistik (BPS) Kota Bima</a>
          <a href="https://indah.bps.go.id/" target="_hidden">Indonesia Data Hub (Indah)</a>
          <a href="https://romantik.web.bps.go.id/" target="_hidden">Romantik</a>
        </div>
      </div>
      {% endblock footer_section_2 %}

      {% block footer_section_3 %}
      <div class="tw-col-start-10 tw-col-span-3 tw-self-end">
        <p class="tw-font-bold tw-text-3xl tw-mb-4">Sosial Media</p>
      </div>
      <div class="tw-col-start-10 tw-row-start-2 tw-col-span-3">
        <div class="tw-flex tw-flex-col tw-gap-1">
          <a href="https://www.facebook.com/diskominfotikkotabima/" class="tw-text-slate-100">
            <i class="bi bi-facebook"></i> Diskominfotik Kota Bima
          </a>
          <a href="https://www.instagram.com/diskominfotikkotabima/" class="tw-text-slate-100">
            <i class="bi bi-instagram"></i> diskominfotikkotabima 
          </a>
        </div>
      </div>
      {% endblock footer_section_3 %}

    </div>
    {% endblock footer_grid_container %}

    {% block footer_copyright %}
    <div class="tw-bg-[#122435] tw-py-6">
      <h4 class="tw-text-2xl tw-font-bold tw-text-center tw-m-auto">2024 &copy; Dinas Komunikasi, Informatika dan Statistik</h4>
    </div>
    {% endblock footer_copyright %}

  </div>
</footer>

<!-- END FOOTER -->